.totalCandidate {
  padding: 10px 0px 10px 27px;
  background-color: #f3f6f9;
  font-size: 30px;
  align-items: left;
  opacity: 1;
}

.HireSymmaryfilterPane {
  background-color: white;
}

.hireSummaryTable {
  padding: 27px;
  background-color: #f3f6f9;
}

.finalFeedback {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LinkOfName{
  color: black;
}
