.totalCandidate{
    padding: 10px;
    background-color: #f3f6f9;
    font-size: 30px;
    align-items: left;
    opacity: 1;
}

.hireSummaryTable{
    padding: 10px;
    background-color: #f3f6f9;
}