.interviewMain {
  width: 100%;
}

.interview {
  background: #ffffff 0% 0% no-repeat;
  display: flex;
  align-items: center;
  color: #1c212d;
  opacity: 1;
  margin: 0px;
}

.Interview-header {
  background-color: #f3f6f9;
  height: 70px;
  font-size: 30px;
  display: flex;
  align-items: center;
  color: #1c212d;
  opacity: 1;
}

.interviewFilterPane {
  background: #ffffff;
  /* height: 60px; */
  display: flex;
  align-items: center;
  font-style: #474d5b;
}

.interview-table {
  border: 27px solid #f3f6f9;
}
.interview-table .ant-table-content {
  border: 20px;
  border-color: #f3f6f9;
  margin: 0px 0px 0px 0px;
}

.interview-table .ant-table-container {
  border: 20px;
  border-color: #f3f6f9;
}

.interview-table .ant-table-thead .ant-table-cell {
  background: #f8f8f8;
  height: 71px;
  text-align: left;
  letter-spacing: 0.49px;
  color: #1a3937;
  opacity: 1;
}

.interview-table .ant-table-tbody .ant-table-cell {
  height: 71px;
  background: white;
  text-align: left;
  letter-spacing: 0.49px;
  color: #000000;
  opacity: 1;
}

.searchbox {
  height: 40px;
  width: 261px;
  border-color: #e5e5e5;
  background-color: #fafafa;
}
